<h1>Home</h1>
<p>Informational page about project, or starting point for SPA if no auth is required</p>

<p><%= link_to "Log in", login_path %> or <%= link_to "Sign up", register_path %> to get your API key.</p>
